<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>default</string>
	<string>chimes</string>
	<string>doorbell</string>
	<string>polyphonic1</string>
	<string>polyphonic2</string>
	<string>ringtone1</string>
	<string>ringtone2</string>
	<string>xylophone</string>
</array>
</plist>
