<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SideEffectArray</key>
	<array>
		<string>Mal de tête</string>
		<string>Fatigue</string>
		<string>Nausée</string>
		<string>Diarrhée</string>
		<string>Vomissement</string>
		<string>Fièvre</string>
		<string>Eruption Cutanée</string>
		<string>Lactic acidosis</string>
		<string>Réaction d&apos;Hypersensibilité</string>
		<string>Problèmes Cardiovasculaires</string>
		<string>Jaunisse</string>
		<string>Calculs Rénaux</string>
		<string>Vertiges</string>
		<string>Insomnie</string>
		<string>Rêves Vifs</string>
		<string>Troubles de la Concentration</string>
		<string>Perte de Mémoire</string>
		<string>Dépression</string>
		<string>Dommages au Foie (Hépatite)</string>
		<string>Problèmes pendant la Grossesse</string>
		<string>Pigmentation de la Peau sur Paumes, Semelles</string>
		<string>Douleurs Musculaires</string>
		<string>Décoloration des Ongles</string>
		<string>Lipodystrophie</string>
		<string>Neuropathie périphérique</string>
		<string>Pancréatite</string>
		<string>Dommages au Foie</string>
		<string>Goutte</string>
		<string>Lésions sur Lèvres, Organes génitaux</string>
		<string>Rouge Peau enflée ou gonflée</string>
		<string>Durcissement de la Peau</string>
		<string>Kystes, Nodules</string>
		<string>Pneumonie</string>
		<string>Abcès</string>
		<string>Syndrome de Lyell (TEN)</string>
		<string>Cloques</string>
		<string>Lésions Buccales</string>
		<string>Peau sèche</string>
		<string>Croissance anormale des Ongles</string>
	</array>
</dict>
</plist>
