<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Was bedeutet der CD4 Zellen Befund?</string>
		<string>CD4 (T4 Helfer) Zellen sind Immunzellen. Die Anzahl wird pro (mm^3) Blut angegeben und ist ein wichtiger Hinweis für den Gesundheitszustand des Immunsystems. Normalwerte liegen typischerweise zwischen 500 - 1500.</string>
	</array>
	<array>
		<string>Was bedeutet CD4 %?</string>
		<string>CD4% Werte spiegeln das zahlenmässige Verhältnis zwischen 2 wichtigen Immunzelltypen, T4 Helfer (CD4) und T8 Killer (CD8) Zellen. Wie der CD4 Zellenwert gibt der CD4% einen Hinweis auf den Zustand des Immunsystems . Der Normalbereich liegt zwischen 20-40%.</string>
	</array>
	<array>
		<string>Was bedeutet die Viruslast_</string>
		<string>Anzahl von HIV Viruskopien im Blut (gemessen pro 1mm^3).</string>
	</array>
	<array>
		<string>Was bedeutet &quot;nicht nachweisbar&quot;?</string>
		<string>Nicht nachweisbar bedeutet eine geringe HIV Viruslast. Der Schwellenwert hängt vom Testverfahren ab und kann z.B. zwischen 50 und ca 200 liegen. Wichtig: trotz nicht nachweisbarer Viruslast ist HIV immer noch im Körper.</string>
	</array>
	<array>
		<string>Wann sollte man mit HIV Therapie beginnen?</string>
		<string>Die Richtlinien dafür können sich von Land zu Land unterscheiden. Allerdings wird in der Regel empfohlen bei kontinuierlichen CD4 Zellen Werten von 350 oder drunter mit der Therapie zu beginnen.</string>
	</array>
	<array>
		<string>Was für HIV Therapien stehen zur Verfügung?</string>
		<string>Heutzutage gibt es eine ganze Reihe von HIV Medikamenten und neuere kommen ständig hinzu. In der Regel besteht die HIV Therapie aus einer Kombination von typischerweise 3 verschiedenen Medikamenten. Man kann die Einzelmedikamente grob in 5 Klassen unterteilen: Protease Hemmer, NRTI , NNRTI , Fusions/Eintrittshemmer Integrasehemmer. Einige Präparate wie z.B. Atripla vereinen alle Medikamente in einer Tablette (Kombinationstablette).</string>
	</array>
	<array>
		<string>Wie funktionieren HIV Medikamente?</string>
		<string>Vom HIV Virus befallene Zellen werden derart &quot;umprogrammiert&quot;, dass sie neue HIV Kopien erzeugen. Meistens führt das zur Zerstörung der befallenen Zelle. HIV Medikamente stören gezielt die Prozesse die zum &quot;Umprogrammieren&quot; oder zur Erzeugung neuer HIV Viren führen.</string>
	</array>
	<array>
		<string>Warum ist es wichtig HIV Medikation regelmässig zu nehmen?</string>
		<string>HIV Viren mutieren häufig und relativ schnell. Um zu verhindern dass die Viren behandlungsresistent werden, müssen HIV Medikamente regelmässig eingenommen werden. Tabletten wie z.B. Atripla sollten alle 24 Stunden einmal eingenommen werden, wobei die Einnahmezeit sich nicht um mehr als +/- 1 Stunde verschieben sollte. </string>
	</array>
</array>
</plist>
