<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Tipranavir</string>
		<string>Aptivus</string>
		<string>PI</string>
		<string>aptivus</string>
	</array>
	<array>
		<string>Indinavir</string>
		<string>Crixivan</string>
		<string>PI</string>
		<string>crixivan</string>
	</array>
	<array>
		<string>Atazanavir, Cobicistat</string>
		<string>Evotaz</string>
		<string>PI, Booster</string>
		<string>evotaz</string>
	</array>
	<array>
		<string>Telaprevir</string>
		<string>Incivek</string>
		<string>PI</string>
		<string>incivek</string>
	</array>
	<array>
		<string>Saquinavir</string>
		<string>Invirase</string>
		<string>PI</string>
		<string>invirase</string>
	</array>
	<array>
		<string>Fosamprenavir</string>
		<string>Lexiva(US)/Telzir(EU)</string>
		<string>PI</string>
		<string>lexiva</string>
	</array>
	<array>
		<string>Simeprevir</string>
		<string>Olysio</string>
		<string>PI</string>
		<string>olysio</string>
	</array>
	<array>
		<string>Rezolsta, Darunavir, Cobocostat</string>
		<string>Prezcobix</string>
		<string>PI, Booster</string>
		<string>prezcobix</string>
	</array>
	<array>
		<string>Darunavir</string>
		<string>Prezista</string>
		<string>PI</string>
		<string>prezista</string>
	</array>
	<array>
		<string>Atazanavir</string>
		<string>Reyataz</string>
		<string>PI</string>
		<string>reyataz</string>
	</array>
	<array>
		<string>Asunaprevir</string>
		<string>Sunvepra</string>
		<string>PI</string>
		<string>FDA</string>
	</array>
	<array>
		<string>Boceprevir</string>
		<string>Victrelis</string>
		<string>PI</string>
		<string>victrelis</string>
	</array>
	<array>
		<string>Nelfinavir</string>
		<string>Viracept</string>
		<string>PI</string>
		<string>viracept</string>
	</array>
</array>
</plist>
