<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SideEffectArray</key>
	<array>
		<string>Dolor de cabeza</string>
		<string>Fatiga</string>
		<string>Náusea</string>
		<string>Diarrea</string>
		<string>Vómitos</string>
		<string>Fiebre</string>
		<string>Erupción Cutánea</string>
		<string>Acidosis Láctica</string>
		<string>Hipersensibilidad</string>
		<string>Problemas Cardiovasculares</string>
		<string>Ictericia</string>
		<string>Cálculos Renales</string>
		<string>Mareo</string>
		<string>Insomnio</string>
		<string>Sueños Vívidos</string>
		<string>Deterioro de la Concentración</string>
		<string>Pérdida de la Memoria</string>
		<string>Depresión</string>
		<string>Daño Hepático (hepatitis)</string>
		<string>Problemas durante Embarazo</string>
		<string>Pigmentación de la piel en palmas, soles</string>
		<string>Dolor Muscular</string>
		<string>Decoloración de Uñas</string>
		<string>Lipodistrofia</string>
		<string>Neuropatía Periférica</string>
		<string>Pancreatitis</string>
		<string>Daño Hepático</string>
		<string>Gota</string>
		<string>Lesiones en Labios, Genitales</string>
		<string>Piel enrojecida inflamada o hinchada</string>
		<string>Piel endurecida</string>
		<string>Quistes, Nódulos</string>
		<string>Neumonía</string>
		<string>Absceso</string>
		<string>Necrólisis epidérmica tóxica (NET)</string>
		<string>Ampollas</string>
		<string>Lesiones orales</string>
		<string>Piel seca</string>
		<string>Crecimiento de Uñas anormales</string>
	</array>
</dict>
</plist>
