<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Efavirenz, Emtricitabine, Tenofovir</string>
		<string>Atripla</string>
		<string>NNRTI, NRTI, NRTI</string>
		<string>atripla</string>
	</array>
	<array>
		<string>Zidovudine, Lamivudine</string>
		<string>Combivir</string>
		<string>NRTI, NRTI</string>
		<string>combivir</string>
	</array>
	<array>
		<string>Emtricitabine, Rilpivirine, Tenofovir</string>
		<string>Complera/Eviplera</string>
		<string>NRTI, NNRTI, NRTI</string>
		<string>complera</string>
	</array>
	<array>
		<string>Lopinavir, Ritonavir</string>
		<string>Kaletra/Aluvia</string>
		<string>PI, PI</string>
		<string>kaletra</string>
	</array>
	<array>
		<string>Abacavir, Lamivudine</string>
		<string>Kivexa/Epzicom</string>
		<string>NRTI, NRTI</string>
		<string>kivexa</string>
	</array>
	<array>
		<string>Zidovudine, Lamivudine, Abacavir</string>
		<string>Trizivir</string>
		<string>NRTI, NRTI, NRTI</string>
		<string>trizivir</string>
	</array>
	<array>
		<string>Tenofovir, Emtricitabine</string>
		<string>Truvada</string>
		<string>NRTI, NRTI</string>
		<string>truvada</string>
	</array>
</array>
</plist>
